[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
"pdf2image" = "*"
pillow = "*"
raven = "*"
werkzeug = "*"
"pymorphy2-dicts-ru" = "*"
networkx = "*"
gevent = "*"
django-environ = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
"psycopg2" = "*"
numpy = "*"
pytesseract = "*"
fuzzywuzzy =  "*"
python-levenshtein = "*"
"pymorphy2" = {editable = true, git = "https://github.com/kmike/pymorphy2.git"}
"pymorphy2-dicts-uk" = "*"

[dev-packages]

[requires]
python_version = "3.6"
